<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [20]:
import pandas as pd

In [21]:
!cd ../../data/ && kaggle datasets download -d heesoo37/120-years-of-olympic-history-athletes-and-results && unzip 120-years-of-olympic-history-athletes-and-results.zip

120-years-of-olympic-history-athletes-and-results.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  120-years-of-olympic-history-athletes-and-results.zip
replace noc_regions.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [27]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [28]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [29]:
data[data['Year'] == 1996].groupby('Sex')['Age'].min()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [30]:
data = data.drop_duplicates(subset=['Name', 'Games'])

In [56]:
year_2k_male = data[(data['Year'] == 2000) & (data['Sex'] == 'M')]
print(year_2k_male['Name'].is_unique)
print(year_2k_male[year_2k_male.Sport.str.contains('ymna')].Sport.unique())

print("\nMale gymnasts - {:.1f}%".format(
    year_2k_male.Sport.value_counts()['Gymnastics'] / year_2k_male.shape[0] * 100))

True
['Gymnastics']

Male gymnasts - 1.5%

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [73]:
print(f"Unique sportsmen - {data[data['Year'] == 2000]['Name'].is_unique}")
data[(data['Year'] == 2000) & 
     (data['Sex'] == 'F') & 
     (data['Sport'] == 'Basketball')
    ].Height.describe()[['mean', 'std']].round(1)

Unique sportsmen - True

mean    182.4
std       9.1
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [91]:
data.loc[data[data['Year'] == 2002].Weight.idxmax(), 'Sport']

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [94]:
(data['Name'] == 'Pawe Abratkiewicz').sum()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [204]:
(data.loc[(data['Team'] == 'Australia') &
         (data['Year'] == 2000) & 
         (data['Sport'] == 'Tennis'), 
         'Medal'] == 'Silver').sum()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [138]:
data[data['Year'] == 2016].dropna(
    subset=['Medal']).groupby('Team')['Medal'].size()[[
        'Switzerland', 'Serbia'
    ]]

Team
Switzerland     7
Serbia         54
Name: Medal, dtype: int64

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [206]:
data_2014 = data[data['Year'] == 2014]
data_2014.groupby(pd.cut(data_2014['Age'], pd.np.arange(15,65,10))).size()

Age
(15, 25]    1385
(25, 35]    1245
(35, 45]     101
(45, 55]       4
dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [180]:
print((data[(data['Season'] == 'Summer')]['City'] == 'Lake Placid').any())
print((data[(data['Season'] == 'Winter')]['City'] == 'Sankt Moritz').any())

False
True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [203]:
unique_sports = data.groupby('Year')['Sport'].nunique()
unique_sports.reindex([1995, 2016])

Year
1995     NaN
2016    34.0
Name: Sport, dtype: float64